# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/
C:\Users\savva\Documents\GitHub\handwriter_miet\handwriter\dist.zip
# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
handwriter/dist.zip
handwriter/build/
handwriter/handwriter_miet.zip
